/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2013, 3:31:14 AM
    Author     : EricMain
*/

body{background-color: #FFF;}

.login{padding-top: 65px;}
.login .controls { margin-left: 0px;}
.login .controls input { width: 95%}
.center .span4 {float: none; margin:0 auto;}